<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1fcc08b5-5199-4f5c-9649-8d6f50f2c9c5" Publisher="CN=mobileservices" Version="1.0.0.0" />
  <Properties>
    <DisplayName>TodoList</DisplayName>
    <PublisherDisplayName>Mobile Services</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TodoList.App">
      <VisualElements DisplayName="TodoList" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="TodoList" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>